
{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} Accueil
{% endblock %}
{% block content %}
    <nav class="product">
    <ol>
        <li class="theme"><a href="#">Home</a></li>
        <li class="theme"><a href="#">Fares</a></li>
        <li class="theme">Sales</li>
    </ol>
</nav>
{% endblock %}